*{padding:0;margin:0;}
html,body{width:270px;font: normal 8pt 'Lucida grande';color:#fff;}

#title {
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	background-image: -webkit-gradient( 
			linear, 0% 0%, 0% 100%, 
			from(rgba(90, 90, 90, 1)), 
			color-stop(0.47, rgba(100, 100, 100, 1)), 
			color-stop(0.53, rgba(70, 70, 70, 1)), 
			to(rgba(70, 70, 70, 1)));
	height:15px;
	margin: 0 0 5px 0;
	overflow:ellipsis;
	padding:0;
	text-align:center;
}

#background {
	-webkit-border-radius: 7px;
	min-height: 60px;
	background-color: rgba(40, 40, 40, 0.9);
	border: 0.1em outset #808080;
}




#icon{float:left;top:-4px;padding-left:12px;height:100%;width:32px;}
#icon img{max-width:32px;max-height:32px;}
#text{font:8pt 'Lucida grande';margin-left:56px;overflow:ellipsis;}



.priorities{z-index:5;float:right;width:71px;height:71px;}
#verylow{background:url('low.png') no-repeat top right;}
#moderate{background:url('moderate.png') no-repeat top right;}
#normal{background:url('1pxtransparent.png') no-repeat top right;}
#high{background:url('high.png') no-repeat top right;}
#emergency{background:url('emergency.png') no-repeat top right;}