*{padding:0;margin:0;}
html,body{width:270px;font: normal 8pt 'Lucida grande';color:#fff;}

#title {
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	background-image: -webkit-gradient( 
			linear, 0% 0%, 0% 100%, 
			from(rgba(112, 112, 112, 0.9)), 
			color-stop(0.5, rgba(120, 120, 120, 0.9)), 
			color-stop(0.51, rgba(100, 100, 100, 0.9)), 
			to(rgba(90, 90, 90, 0.9)));
	height:15px;
	overflow:ellipsis;
	padding:0;
	text-align:center;
}

#background {
	-webkit-border-radius: 7px;
	background: rgba(30, 30, 30, 0.9);
	min-height: 50px;
}




#icon{float:left;top:-4px;padding-left:12px;height:100%;width:32px;}
#icon img{position:relative;max-width:32px;max-height:32px;}
#text{top:-2px;position:relative;width:200px;font:8pt 'Lucida grande';margin-left:56px;overflow:hidden;}
.priorities{z-index:5;position:absolute;float:right;right:0;top:0;width:71px;height:71px;}
#verylow{background:url('low.png') no-repeat top right;}
#moderate{background:url('moderate.png') no-repeat top right;}
#normal{background:url('1pxtransparent.png') no-repeat top right;}
#high{background:url('high.png') no-repeat top right;}
#emergency{background:url('emergency.png') no-repeat top right;}